/******* CSS Reset ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* root variable for color */
:root {
  --color-white-001: #feffff;
  --color-skyblue-001: #e4f2ff;
  --color-black-001: #000000;
  --color-purple-001: #722ed1;
  --color-purple-002: #2b1e3f;
  --color-grey-001: #88888a;
  --color-grey-002: #dedce0;
  --color-grey-003: #3a3838;
  --color-cyan-001: #b3c3c3;
  --color-cyan-002: #c6c5e06c;
}

body {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Metrophobic", sans-serif;
  color: var(--color-black-001);
  overflow-x: hidden;
}

/************ Navbar ************/
.navbar{
    padding: 2rem 0rem;
}
.nav>a>img{
    width: 100px;
    cursor: pointer;
}
.nav{
    display: flex;
    border: 2px red solid;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list{
    display: flex;
    list-style-type: none;
    gap: 3rem;
    
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
}