/**********************************CSS Reset******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************Declaring CSS Variables*************************/

:root {
    --color-black-000: #000000;
    --color-black-001: #0f0f10;
    --color-black-002: #1e1e21;
    --color-black-003: #181a1b;
    --color-white-001: #f2f2f3;
    --color-white-002: #505153;
    --color-crimson-001: #ff0f32;
    --color-red-001: #b8081c;
    --color-yellow-001: #944e0d;
    --color-blue-001: #001335;
    --color-twilight-grey-001: #d0b094;
}

body {
    background-color: var(--color-black-000);
    width: 100%;


}

.ear-logo {
    width: 25px;
}

.btn-primary {
    all: unset;
    padding: 1em 3.2em;
    background-color: var(--color-black-002);
    font-size: 0.9rem;
    font-family: sans-serif;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.btn-primary::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-yellow-001);
    border-radius: 7px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 350ms ease-in-out;
    z-index: -1;
}

.btn-primary:hover::before {
    transform: scaleX(1);
}

/* ************************ Navbar ******************************** */


body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Manrope", sans-serif;
    color: var(--color-white-001);
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5em;
    padding: 1em 0em;
}

nav {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 5em;
}

.navbar>ul {
    display: flex;
    gap: 4rem;
}

.list_items {
    list-style-type: none;

}

.list_items>a {
    text-decoration: none;
    color: var(--color-white-001);
    font-size: 0.9rem;
    position: relative;

}

nav>ul .list_items>a::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--color-white-002);
    left: 0;
    top: 1.5rem;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 350ms ease-in-out;
}

.list_items>a:hover {
    color: var(--color-white-002);
}

.list_items>a:hover::before {
    transform: scaleX(1);
}

/* ********************* Headphones container ********************** */

.headphones-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

.container-left {
    width: 50%;

}

.headphone-img>img {
    position: relative;
    left: 17rem;
    top: -10rem;
}

.headphone-img>img:hover {
    transform: scaleX(1);
}

.container-right {
    width: 55%;
}

.headphone-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.onear-img {
    margin-left: 3rem;
}

.heading {
    font-size: 3rem;
}

.headphone-info>p {
    font-size: 1.3rem;
}

.headphone-info>.beats-info {
    width: 50%;
    font-family: manrope;
    /* font-weight: lighter; */
    font-size: .9rem;
    line-height: 1.9rem;
}

.btn_primary {
    all: unset;
    padding: 1em 3.2em;
    background-color: var(--color-black-002);
    font-size: 0.9rem;
    font-family: sans-serif;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn_primary>span {
    font-size: 1.2rem;
}

.btn_primary::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-yellow-001);
    border-radius: 7px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 350ms ease-in-out;
    z-index: -1;
}

.btn_primary:hover::before {
    transform: scaleX(1);
}

/* ************************ Logo section ********************************  */

.logo-section {
    width: 100%;
    padding: 0rem 10rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-trans>img {
    transition: transform .2s;

}

.logo-trans>img:hover {
    transform: scale(1.1);
}

/* ****************************Spects Section*************************** */
.Spects {
    width: 100%;
    padding: 5rem 15rem;
    margin: 0 auto;

}

.spects-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

.specs-info-container {
    padding: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4rem;
    /* border: 1px red solid; */
}

.specs-info-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.specs-Battery {
    margin-left: -2rem;
}

.specs-Load {
    margin-left: -1.7rem;
}

.specThird>h3 {
    font-size: 1.3rem;
}

.specThird>p {
    font-size: .8rem;
    color: var(--color-white-002);
}

.specs-img>img {
    transition: scale 350ms ease-in-out;
}

.specs-img>img:hover {
    scale: 3.4;
}

/************** Case ***************/

.Case {
    width: 100%;
    position: relative;
    padding: 3rem 5rem;

}

.case-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

.case-main {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.case-top>img {
    width: 100%;
    max-width: 250px;
    min-width: 110px;
}

.case-right>p {
    font-size: .9rem;
    color: var(--color-white-001);
    line-height: 1.7rem;
}

.case-right>.btn_primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em 1.7em;
    margin-top: 1rem;
}

.case-right>.btn_primary>img {
    width: 20px;
}

/* ******************** Immesnse*********************** */

.immense {
    width: 100%;
    padding: 1rem;
}

.immense-section {
    width: 60%;
    /* padding: 5rem; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    margin: 0 auto;
}

.immense-container {
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    border-radius: .8rem;
    background-color: var(--color-black-003);
    /* border: 1px red solid; */
}

.immense-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.btn-im {
    background-color: var(--color-black-000);
}

.immense-right>img {
    width: 90%;
    min-width: 50%;
}

.style {
    padding: 5rem 0rem;

}

.style-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 6em;
}

.style-top>img {
    width: 100%;
}

.style-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4em;
    flex-wrap: wrap;
    width: 50%;
    min-width: 650px;
    /* border: 1px solid green; */

}

.card {
    /* border: 1px solid green; */
    padding: 4em 5em;
    background-color: var(--color-black-003);
    border-radius: 7px;
    position: relative;
    margin: 2em 0;
    cursor: pointer;
    transition: scale 350ms ease-in-out;
}

.card:hover {
    scale: 1.3;
}

.card::before {
    content: "";
    position: absolute;
    background-image: url(./Photos/black.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    top: -50%;
    bottom: 0;
    z-index: 2;
}

.style-main>.card_2::before {
    background-image: url(./Photos/redBlack.png);
}

.style-main>.card_3::before {
    background-image: url(./Photos/nightBlack.png);
}

.style-main>.card_4::before {
    background-image: url(./Photos/blue.png);
}

.style-main>.card_5::before {
    background-image: url(./Photos/twilightGray.png);
}

.style-main>.card_1:hover {
    background-color: var(--color-black-000);
}

.style-main>.card_2:hover {
    background-color: var(--color-red-001);
}

.style-main>.card_3:hover {
    background-color: var(--color-yellow-001);
}

.style-main>.card_4:hover {
    background-color: var(--color-blue-001);
}

.style-main>.card_5:hover {
    background-color: var(--color-twilight-grey-001);
}

.style-main>.card_2:hover .model> :nth-child(1) {
    color: black;
}

.card_bottom {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5em;
}

.model>p {
    font-size: 0.7rem;
    padding: 0.2em 0;
}

.model> :nth-child(2) {
    color: var(--color-white-002);
}

.shopping_icon {
    background-color: var(--color-black-000);
    padding: 0.4em 0.6em;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */

footer {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
    padding: 3em 2em;
    flex-wrap: wrap;
}

footer> :first-child {
    align-self: flex-start;
}

.footer_links_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer_links_container>.heading_primary {
    font-size: 0.9rem;
}

.footer_links_container>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.footer_links_container>ul>li>a {
    color: var(--color-white-002);
}

.footer_links_container>ul>li>a:hover {
    color: var(--color-white-001);
}

.footer_links_container>ul>li>a:hover ::before {
    transform: scaleX(0);
}

.footer_right_content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.footer_right_content>form {
    background-color: var(--color-black-003);
    padding: 0.61em 1em;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}

.footer_right_content>form>input {
    all: unset;
    background-color: var(--color-black-003);
    font-size: 0.9rem;
    width: 100%;
}

.footer_right_content>form>input:focus {
    outline: none;
}

.footer_right_content>form>input::placeholder {
    font-size: 0.8rem;
}

.footer_right_content>form>.btn_primary {
    background-color: var(--color-black-000);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
    padding: 1em 1.2em;
}

.social_media_icons {
    display: flex;
    gap: 0.8em;
}

.social_media_icons>a {
    transition: scale 350ms ease-in-out;
}

.social_media_icons>a:hover {
    scale: 1.3;
}