* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}
.navbar{
    width: 100%;
}
.navbar-container {
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    align-items: center;
    /* height: 15vh; */
    padding: 2rem 0;

}

.grow-list {
    display: flex;
    flex: 1;
}

.list {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin-left: 1.5rem;
}

.list-item {
    /* margin: 0 20px; */
    font-size: 20px;
    font-family: 'Poppins';
    color: grey;
}

.list-item:hover {
    color: #111;
}

.nav-button {
    font-family: 'Poppins';
    padding: 15px 22px;
    background-color: #7475da;
    border-radius: 10px;
    border: none;
    font-weight: 500;
}

/* .banner-container>div>img {
    position: absolute;
    right: 0;
    bottom: 0%;
    height: 600px;
} */
.banner-container{
    width: 90%;
    display: flex;
    margin: 0 auto;

}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
    gap: 1.5rem;
    width: 40%;
}
.heading-text {

    font-size: 50px;
    font-family: 'poppins';
    font-weight: 500;
}

.description {

    font-size: 15px;
    font-family: 'poppins';
    font-weight: 500;

}

.btn {
    padding: 20px 40px;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 500;
}

span {
    color: #7475da;
}

.banner-right{
    width: 60%;
    /* border: 1px red solid; */
}